<ion-header>
  <ion-toolbar>
    <ion-title>detail-affectation</ion-title>
    <ion-button slot="end" (click)="closeModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img src="{{userDetails.picture}}" class="center"> -->
  <img src="../assets/man.png" class="center">
  <h3 class="ion-text-center">{{userDetails.Prenom}} {{userDetails.Nom}}</h3>
  <h4 class="ion-text-center"*ngIf="sexeMx">{{'Sexe: Masculin'}}</h4>
  <h4 class="ion-text-center"*ngIf="sexeFn">{{'Sexe: Feminin'}}</h4>
  <h4 class="ion-text-center"*ngIf="sexeInc">{{'Sexe: ?'}}</h4>
  <small>{{userDetails.email}}</small>
  <ion-list>
    <ion-item>
      <ion-label slot="start">Fonction</ion-label>
      <p slot="end">{{userDetails?.Fonction}}</p>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Adresse</ion-label>
      <p slot="end">{{userDetails?.Adresse}}</p>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Telephone</ion-label>
      <p slot="end">{{userDetails?.Tel}}</p>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Direction</ion-label>
      <p slot="end">{{userDetails?.Direction}}</p>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Service</ion-label>
      <p slot="end">{{userDetails?.Service}}</p>
    </ion-item>
  </ion-list>
</ion-content>
