<ion-header>
  <ion-toolbar>
    <ion-title>Fiche absence</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="[]">
        <ion-icon slot="icon-only" name="person-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button slot="end" (click)="closeModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title *ngIf="!isUpdate">Créer une Absence</ion-title>
  <ion-title *ngIf="isUpdate">{{this.pourtous==='1'?'ABSENCE POUR TOUS':this.prenom +' '+ this.nom }}</ion-title>

  <ion-card>
    <ion-card-content>
      <ion-list >
        <ion-item>
          <ion-label position="floating">Motif</ion-label>
          <ion-input [(ngModel)]='this.motif' ></ion-input>
        </ion-item>

        <ion-item id="date" >
          <ion-label>Date de départ</ion-label>
          <ion-text tappable slot="end">{{ formattedString|date: 'dd MMMM YYYY'}}</ion-text>
          <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>

          <ion-popover trigger="date" size="cover" side="top" alignment="center" class="popover-date" style="margin-bottom: 20px; height: 75%; ">
            <ng-template>
              <ion-datetime
              #datetime
                [(ngModel)]="selectedDate" size="cover"
                [value]="dateValue"
                (ionChange)="dateChanged(datetime.value)"
                (ionCancel)="showPicker=false;"
              ></ion-datetime>
              <ion-row>
                <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
                <ion-col size="4"></ion-col>
                <ion-col size="4"><ion-button (click)="select()" color="primary" expand="full">Choisir</ion-button></ion-col>
              </ion-row>
            </ng-template>
          </ion-popover>
        <ion-item id="time1" >
          <ion-label>Heure Debut</ion-label>
          <ion-text tappable slot="end">{{ timeString }}</ion-text>
          <ion-icon name="time-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>
        <ion-popover trigger="time1" size="cover">
          <ng-template>
            <ion-datetime
            #datetime
              presentation="time"
              [(ngModel)]="dateValue"
              [value]="dateValue"
              (ionChange)="timeChanged(datetime.value)"
              (ionCancel)="showPicker=false;"
            ></ion-datetime>
            <ion-row>
              <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="4"><ion-button (click)="select()" color="primary" expand="full">Choisir</ion-button></ion-col>
            </ion-row>
          </ng-template>
        </ion-popover>
        <!-- Date de fin -->
        <ion-item id="date2">
          <ion-label>Date de Fin </ion-label>
          <ion-text tappable slot="end">{{ formattedString2 }}</ion-text>
          <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>
        <ion-popover trigger="date2" size="cover" side="top" alignment="center" class="popover-date" style="margin-bottom: 20px; height: 75%; ">
          <ng-template>
            <ion-datetime
            #datetime
              [(ngModel)]="selectedDate2" size="cover"
              [value]="dateValue2"
              (ionChange)="dateChangedFin(datetime.value)"
              (ionCancel)="showPicker=false;"
            ></ion-datetime>
            <ion-row>
              <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="4"><ion-button (click)="select()" color="primary" expand="full">Choisir</ion-button></ion-col>
            </ion-row>
          </ng-template>
        </ion-popover>
        <ion-item id="time2">
          <ion-label>Heure Fin</ion-label>
          <ion-text tappable slot="end">{{ timeString2 }}</ion-text>
          <ion-icon name="time-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>
        <ion-popover trigger="time2" size="cover"  side="top">
          <ng-template>
            <ion-datetime
            #datetime
              presentation="time"
              [(ngModel)]="dateValue2"
              [value]="dateValue2"
              (ionChange)="timeChangedEnd(datetime.value)"
              (ionCancel)="showPicker=false;"
            ></ion-datetime>
            <ion-row>
              <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
              <ion-col size="4"></ion-col>
              <ion-col size="4"><ion-button (click)="select()" color="primary" expand="full">Choisir</ion-button></ion-col>
            </ion-row>
          </ng-template>
        </ion-popover>
        <ion-item>
          <ion-label>Paye</ion-label>
          <h2  *ngIf="isPaid">OUI</h2>
          <h2  *ngIf="!isPaid">NON</h2>
          <ion-toggle mode="ios" [(ngModel)]="isPaid" ></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-list lines="none" *ngIf="!isUpdate">
        <ion-item>
          <ion-label>Absence Individuelle</ion-label>
          <h2  *ngIf="choix">OUI</h2>
          <h2  *ngIf="!choix">NON</h2>
          <ion-toggle (ionChange)="togglepaspourTous()" mode="ios" [(ngModel)]="choix"></ion-toggle>
        </ion-item>
        <hr style="border-bottom:1px solid gray ;">
      </ion-list>

      <ion-row>
        <ion-col size="4" class="prev" > </ion-col>
        <ion-col size="4" *ngIf="!choix" >
          <ion-button fill="outline" *ngIf="!isUpdate"
          expand="block"
          color="primary"
          type="submit"
          (click)="onSubmit()"
          >
        {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        <ion-button fill="outline" *ngIf="isUpdate"
          expand="block"
          color="primary"
          type="submit"
          (click)="onUpdate()"
          >
        {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        </ion-col>
        <ion-col size="4" > </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="choix" style="text-align: center;">
    <ion-label>Veillez sélectionner les employés correspondants ci-dessous</ion-label>
  </ion-item>
  <ion-row  *ngIf="choix">
    <ion-col size="4"></ion-col>
    <ion-col size="4"  class="ion-justify-content-center">
      <div class="ion-searchbar">
        <ion-label color="light">
          <ion-searchbar
          placeholder="Rechercher un employe ici..."
          [(ngModel)]="searchTerm"
          showCancelButton="focus"
          cancelButtonText="center"
          cancelButtonIcon="none"
          animated></ion-searchbar>
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button fill="outline" *ngIf="!isUpdate"
              color="primary"
              type="submit"
              (click)="onSubmit()"
              >
            {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
            <ion-button fill="outline" *ngIf="isUpdate"
            color="primary"
            type="submit"
            (click)="onUpdate()"
            >
          {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>
 <!-- <ion-card *ngIf="bulkIndividuel"> -->
  <ion-card *ngIf="choix">
    <ion-card-content>
      <ion-row class="header-row" >
        <ion-col size="2" >
          <!-- <ion-col size="2"> -->
          Select
        </ion-col>
        <ion-col size="2" tappable (click)="sortBy('Nom')">
          Nom
          <ion-icon name="arrow-down" *ngIf="sortEmploye === 1"></ion-icon>
          <ion-icon name="arrow-up" *ngIf="sortEmploye === 2"></ion-icon>
        </ion-col>
        <ion-col size="2" >
          Prénom
        </ion-col>
        <ion-col size="2" >
          Fonction
        </ion-col>
        <ion-col size="2">
          Affectation
        </ion-col>
      <!--  <ion-col size="2" >
          Télephone
        </ion-col> -->
      <!--  <ion-col size="2" *ngIf="!bulkEdit">
          Action
        </ion-col> -->
      </ion-row>

      <!-- <ion-row *ngFor="let row of listeEmploye; let i = index;" class="data-row" (click)="userdetails(row)" > -->
      <ion-row *ngFor="let row of listeEmploye| filter: searchTerm  ; let i = index;" class="data-row">

        <ion-col size="2">
          <ion-checkbox [(ngModel)]="row.IsChecked"></ion-checkbox>
            </ion-col>
            <ion-col size="2" >
              {{ row.Nom}}
            </ion-col>
            <ion-col  size="2">
              {{ row.Prenom}}
            </ion-col>
            <ion-col size="2">
              {{ row.Adresse}}
            </ion-col>
            <ion-col size="2" >
              {{ row.Tel}}
            </ion-col>


      </ion-row>

      <!-- ***********************Submit************************** -->
      <ion-row>
        <ion-col size="4" class="prev">

        </ion-col>


        <ion-col size="4">
          <ion-button fill="outline" *ngIf="!isUpdate"
          expand="block"
          color="primary"
          type="submit"
          (click)="onSubmit()"
          >
        {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        <ion-button fill="outline" *ngIf="isUpdate"
        expand="block"
        color="primary"
        type="submit"
        (click)="onUpdate()"
        >
      {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        </ion-col>

        <ion-col size="4" >

        </ion-col>
      </ion-row>
      <!-- ***************************** -->


    </ion-card-content>
  </ion-card>
</ion-content>

