.choix{
  margin-right: 20px;
  }
  .header-row{
    font-weight: 500;
    border-bottom: 2px solid #000;
    }
    .data-row{
      border-bottom: 1px solid #000;

    }
ion-content{
  ion-card{
    ion-card-content{
      ion-list{
        ion-popover{


        }
        ion-modal{
         &.open-modal{

              /*  background: transparent;

              --padding-top: 10vh;
              --padding-start: 20px;
              --padding-end: 20px;*/
              --background: transparent;


          }
        }
      }
    }
  }
}
