<ion-header>
  <ion-toolbar>
    <ion-title>Fiche credit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Information -->
 <div class="DETAIL">
  <ion-card>
    <ion-card-content>
      <ion-text color="dark">
        <h1>DETAIL DU CREDIT N° {{creditInfos.IdCredit}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</div>

 <div >
  <ion-row>
    <ion-col size="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" >
      <ion-list lines="full">
        <ion-item>
          <ion-label>
            <ion-text >Bénéficiaire:</ion-text>
            <p><ion-text color="dark">{{this.creditInfos.PRENOM_EMPLOYE+' '+this.creditInfos.NOM_EMPLOYE}} </ion-text></p>
            <p><ion-text color="dark">{{this.fonction}} </ion-text></p>
          </ion-label>
          <ion-avatar slot="start">
            <div class="avatar">
              <img  [src]="this.photo" alt="" slot="start ">
            </div>
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Titre</ion-text>
            <p><ion-text color="dark">{{creditInfos.Titre}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Date du Premier Moratoire</ion-text>
            <p><ion-text color="dark">{{creditInfos.DatePremierMoratoir | date: 'dd MMMM YYYY'}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Date d'Echeance</ion-text>
            <p><ion-text color="dark">{{creditInfos.DateEcheance | date: 'dd MMMM YYYY'}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Date d'Enregistrement</ion-text>
            <p><ion-text color="dark">{{creditInfos.DateEnreg|date: 'dd MMMM YYYY'}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Heure d'Enregistrement</ion-text>
            <p><ion-text color="dark">{{creditInfos.HeureEnreg}}</ion-text></p>
          </ion-label>
        </ion-item>


      </ion-list>
    </ion-col>

    <ion-col size="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" >
      <ion-list lines="full">
        <ion-item>
          <ion-label>
            <ion-text >Mois</ion-text>
            <p><ion-text color="dark">{{creditInfos.Mois}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Montant</ion-text>
            <p><ion-text color="dark">{{creditInfos.Montant}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Montant Moratoire </ion-text>
            <p><ion-text color="dark">{{creditInfos.MontantMoratoir}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Nombre de Mois</ion-text>
            <p><ion-text color="dark">{{creditInfos.NbMois}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Total Credit</ion-text>
            <p><ion-text color="dark">{{creditInfos.TotalCredit}}</ion-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-text >Utilisateur</ion-text>
            <p><ion-text color="dark">{{creditInfos.Utilisateur}}</ion-text></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</div>
</ion-content>
