ion-header
{
  background: blue;
  ion-item{
    --background: transparent;
    ion-avatar{
      background: white;
    }
  }
}
ion-content{
  *{
    font-family: lato;
  }

  .main-header{
    height: 45vh;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -14vh;
    margin-top: -60px;
  }
}
