<ion-header>
  <ion-toolbar>
    <ion-title>prime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="createPdf()">
    <ion-item>
      <ion-label position="floating"> <ion-text color="danger">thierno</ion-text></ion-label>
      <ion-input  formControlName="from" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> <ion-text color="danger">Paul</ion-text></ion-label>
      <ion-input  formControlName="to" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-text color="danger">Test</ion-text></ion-label>
      <ion-textarea  formControlName="text" rows="3"></ion-textarea>
    </ion-item>
    <ion-button block color="primary" type="submit" (click)="createPdf()">
      Create PDF
    </ion-button>
  </form>

  <img [src]="photoPreview" *ngIf="photoPreview" alt="">
  <ion-button (click)="takePicture()" expand="full" color="primary" shape="round"> Add Picture</ion-button>
  <ion-button (click)="downloadPdf()" expand="full" color="secondary" shape="round" [disabled]="!pdfObj"> Save PDF</ion-button>
</ion-content>

