<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>Avance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- TITLE -->
  <div class="titre">
    <ion-card>
      <ion-card-content>
        <ion-text color="dark">
          <h1>AVANCE SUR SALAIRE</h1>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <h1 class="titre2">{{prenom+' '+nom}}</h1>
  <h1 class="titre3">{{this.avance.BULLETIN_SALAIRE.PERIODE_DE_PAIE}}</h1>

  <ion-list>
  <ion-item>
    <ion-label position="floating">MONTANT</ion-label>
    <ion-input [(ngModel)]='this.montant' type="number"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mois</ion-label>
    <ion-input [(ngModel)]='this.avance.BULLETIN_SALAIRE.MOIS' [readonly]="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Année</ion-label>
    <ion-input [(ngModel)]='this.avance.BULLETIN_SALAIRE.ANNEE' [readonly]="true"></ion-input>
  </ion-item>
</ion-list>
<ion-button fill="outline"expand="block"color="primary"type="submit"(click)="onSubmit()">
 Enregistrer
</ion-button>

</ion-content>
