ion-content{

  .titre{
    text-align: center;
      ion-card{
        ion-card-content{
          ion-text{
            h1{
              font-weight: bold ;
              font-family: Georgia, 'Times New Roman', Times, serif;
              text-decoration: #000;
            }
          }
        }
        background-color: #2dd36f;
      }
  }
  .titre2{
    text-align: center;
      ion-card{
        ion-card-content{
          ion-text{
            h1{
              font-weight: bold ;
              font-family: Georgia, 'Times New Roman', Times, serif;
              text-decoration: #000;
            }
          }
        }
      }
  }
  .titre3{
    text-align: center;
      ion-card{
        ion-card-content{
          ion-text{
            h1{
              font-weight: bold ;
              font-family: Georgia, 'Times New Roman', Times, serif;
              text-decoration: #000;
            }
          }
        }
      }
  }

}

