<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate ? 'Fiche' : 'Ajouter un'}} Employé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- refresh Page -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


   <!-- page header -->
   <ion-header mode="ios">
    <ion-toolbar>
      <!-- <ion-button slot="start" fill="solid" class="button-back"(click)="closeModal()"> -->
        <ion-button slot="start" fill="solid" class="button-back" routerLink="/personnel">
        <ion-icon name="chevron-back" ></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="solid" class="button-edit" (click)="addPhotoToGallery(employe)">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <div class="page-container">
    <!-- hero -->
    <div class="hero-container" >
      <ion-img src={{employe.PHOTO_URL}} (click)="showPicture(employe)" tappable></ion-img>
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.2</ion-label>
      </ion-chip>
    </div>

    <!-- content -->
    <div class="content-container">
      <!-- user info -->
      <div class="name-container">
        <ion-text algin="center">
          <h1>{{employe.Prenom+' '}} {{employe.Nom}}</h1>
        </ion-text>

        <!-- <ion-button (click)="userdetails(employe)"> -->
          <ion-button >
          <ion-label>AFFECTATION</ion-label>
          <ion-icon slot="end" name="send" ></ion-icon>
        </ion-button>
      </div>

      <!-- location -->
      <div class="location">
        <ion-text> Adresse: <span class="emphasis">{{' '+employe.Adresse}}</span> </ion-text>
      </div>

      <!-- talent scout -->
      <div class="talent-scout-container">
        <ion-item class="ion-no-padding" lines="none">
          <div class="inner-container">
            <div class="info-container">
              <ion-avatar (click)="showPicture(employe)"tappable>
                <ion-img src={{employe.PHOTO_URL}}></ion-img>
              </ion-avatar>
                <!-- Test Prise de Photo-->
                  <!-- <ion-fab-button (click)="addPhotoToGallery(employe.ID)">
                    <ion-icon name="camera"></ion-icon>
                  </ion-fab-button> -->

              <div class="text-container">
                <ion-text><span class="name">{{employe.DateEmbauche}}</span></ion-text>
                <ion-text><span class="description">{{employe?.Fonction}}</span></ion-text>
              </div>
            </div>
            <div>
              <ion-text color="dark">
                <h1>Accés au Réseaux:{{employe.ACCES_RESEAU==='0'?' NON':' OUI'}}</h1>
              </ion-text>
            </div>
            <div>
              <ion-button (click)="openContrat(employe)">
                <ion-icon name="document-text" style="font-size: 100px;"></ion-icon><br>
              </ion-button>
              <ion-label>
                <ion-text color="dark">Contrat </ion-text>
              </ion-label>
            </div>
          </div>
        </ion-item>

      </div>

      <!-- stats -->
      <div class="stats-container">
        <div class="stat-container">
          <ion-text><span class="stat">{{employe.Salaire}}</span></ion-text>
          <ion-text><span class="description">Salaire</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">{{employe.SurSalaire}}</span></ion-text>
          <ion-text><span class="description">SurSalaire</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">{{employe.ANCIENNETE}}</span></ion-text>
          <ion-text><span class="description">Ancienneté</span></ion-text>
        </div>
      </div>

      <!-- about -->
      <div class="about-container">

      </div>

      <!-- tags -->
      <div class="tags-container">
        <ion-chip color="primary">{{this.employe.Fonction}}</ion-chip>
        <ion-chip color="secondary" *ngIf="hideMe">{{this.nom_Direction}}</ion-chip>
        <ion-chip color="success" *ngIf="hideMe2">{{this.nom_Service}}</ion-chip>
      </div>
    </div>
    <div>
      <ion-button  shape="round" (click)="ajouterAcces(this.employe)">{{employe.ACCES_RESEAU==='0'?'Créer un Accès au Réseau':'Modifier l\'Accès Réseau'}}</ion-button>
      <ion-button  shape="round" (click)="niveauAcces(this.employe)" *ngIf="this.employe.ACCES_RESEAU>0">
        Niveau d'accès {{this.employe?.NIVEAUACCES}}
      </ion-button>
    </div>
  </div>
  <form >
  </form>
  <ion-row class="ion-margin-vertical">
    <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" style="border: 2px solid rgb(20, 20, 20);">

      <ion-list >
        <ion-item>
          <ion-label position="floating">Prenom</ion-label>
          <ion-input [(ngModel)]='this.prenom'  type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nom</ion-label>
          <ion-input [(ngModel)]='this.nom' type="text" required ></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Date de Naissance</ion-label>
          <ion-input [(ngModel)]='this.formattedString' ></ion-input>
        </ion-item> -->

        <ion-item id="open-modal" >
          <ion-label position="floating">Date de Naissance</ion-label>
          <ion-input tappable [(ngModel)]='this.formattedString' required></ion-input>
          <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>
        <ion-modal trigger="open-modal" mode="md" class="open-modal">
          <ng-template>
            <ion-content>
              <ion-datetime
                #datetime
                [value]="dateValue" size="cover"
                [min]="1900-01-01"
                (ionChange)="dateChanged(datetime.value)"
                (ionCancel)="showPicker=false;">
              </ion-datetime >
                <ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button>
                <ion-button (click)="select()" color="primary" >Select</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-item>
          <ion-label position="floating">Fonction</ion-label>
          <ion-input [(ngModel)]='this.fonction' required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Adresse</ion-label>
          <ion-input [(ngModel)]='this.adresse'required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Téléphone</ion-label>
          <ion-input [(ngModel)]='this.telephone' value="+221" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Sexe</ion-label>
          <ion-select placeholder="Sélectionnez" [(ngModel)]="sexe" required>
            <ion-select-option value="M">Masculin</ion-select-option>
            <ion-select-option value="F">Féminin</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Situation familiale</ion-label>
          <ion-select placeholder="Sélectionnez" [(ngModel)]="SITUATION_FAMILLE" required>
            <ion-select-option value="Marié(e)">Marié(e)</ion-select-option>
            <ion-select-option value="Célibataire">Célibataire</ion-select-option>
            <ion-select-option value="Divorcé(e)">Divorcé(e)</ion-select-option>
            <ion-select-option value="Veuf(ve)">Veuf(ve)</ion-select-option>

          </ion-select>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Situation familiale</ion-label>
          <ion-input [(ngModel)]='this.SITUATION_FAMILLE' ></ion-input>
        </ion-item> -->
        <ion-item id="open-modal2">
          <ion-label position="floating">Date d'embauche</ion-label>
          <ion-input tappable [(ngModel)]='this.formattedString2' type="text"></ion-input>
          <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
        </ion-item>

        <ion-modal trigger="open-modal2" mode="md">
          <ng-template>
            <ion-content>
              <ion-datetime
                #datetime
                [value]="dateValue" size="cover"
                (ionChange)="dateChangedFin(datetime.value)"
                (ionCancel)="showPicker=false;">
                [min]="2000-01-01T00:00:00"
                [max]="2030-01-01T00:00:00"
              </ion-datetime >
                <ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button>
                <ion-button (click)="select()" color="primary" >Select</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-item  *ngIf="hideMe">
          <ion-label position="floating" >Direction</ion-label>
          <ion-input [(ngModel)]='this.nom_Direction' [readonly]="true" class="iddirection"type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="hideMe2">
          <ion-label position="floating">Service</ion-label>
          <ion-input [(ngModel)]='this.nom_Service' [readonly]="true" class="idservice"type="text"></ion-input>
        </ion-item>
        <ion-row *ngIf="message">
          <ion-col size="4"></ion-col>
          <ion-col size="4" size-md="4" size-lg="4">
           <h1 class="title" *ngIf="message_txt_M">Non Affecté</h1>
           <h1 class="title" *ngIf="message_txt_F">Non Affectée</h1>
           <!-- <h1 class="title" *ngIf="message_txt">Non Affecté(e)</h1> -->
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
    </ion-list>
    </ion-col>
    <!-- ******************** -->
    <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" style="border: 2px solid rgb(20, 20, 20);">
      <ion-list >
        <ion-item>
          <ion-label position="floating">Salaire</ion-label>
          <ion-input [(ngModel)]='this.Salaire' required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">SurSalaire</ion-label>
          <ion-input [(ngModel)]='this.SurSalaire'required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre de Performance</ion-label>
          <ion-input [(ngModel)]='this.NbPerformance' [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">PART_TRIMF</ion-label>
          <ion-input [(ngModel)]='this.PART_TRIMF' required></ion-input>
        </ion-item>
        <ion-item  >
          <ion-label position="floating" >PART IRPP</ion-label>
          <ion-input [(ngModel)]='this.PART_IRPP' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">IPRES_TAUX_PATRONAL</ion-label>
          <ion-input [(ngModel)]='this.IPRES_TAUX_PATRONAL' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">IPRES_TAUX_E</ion-label>
          <ion-input [(ngModel)]='this.IPRES_TAUX_E' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">CSS_TAUX_ALLOCFAMILLE_PATRONAL</ion-label>
          <ion-input [(ngModel)]='this.CSS_TAUX_ALLOCFAMILLE_PATRONAL' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">CSS_TAUX_ACCIDENT_PATRONAL</ion-label>
          <ion-input [(ngModel)]='this.CSS_TAUX_ACCIDENT_PATRONAL'required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">CFCE_TAUX_PATRONAL</ion-label>
          <ion-input [(ngModel)]='this.CFCE_TAUX_PATRONAL' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">IPRES_TAUXCOMPLCADRE_E</ion-label>
          <ion-input [(ngModel)]='this.IPRES_TAUXCOMPLCADRE_E' required></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">IPRES_TAUXCOMPLCADRE_P</ion-label>
          <ion-input [(ngModel)]='this.IPRES_TAUXCOMPLCADRE_P' required></ion-input>
        </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>

<ion-row class="ion-margin-horizontal">
  <ion-col size="2" size-sm="4" size-md="4" size-lg="4" size-xl="4" class="ion-text-center">

  </ion-col>


  <ion-col size="12" size-sm="4" size-md="4" size-lg="4" size-xl="4" class="ion-text-center">
    <ion-button fill="outline"
    expand="block"
    color="primary"
    type="submit"
    (click)="onSubmit()"
    >
  {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
  </ion-col>


  <ion-col size="2" size-sm="4" size-md="4" size-lg="4" size-xl="4" class="ion-text-center">

  </ion-col>
</ion-row>



</ion-content>
