<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" color="dark" (click)="_openSideNav()">
      <ion-icon slot="icon-only" name="menu"> </ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh($event)">
        <ion-icon  name="refresh-sharp" class="refresh"  ></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="addAbsence()" >
        Ajouter
      </ion-button>
    </ion-buttons>
    <ion-title>Historique des Absences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-justify-content-center" id="div1" >

    <ion-grid  class="ion-grid-user">
      <ion-title class="recherche">CRITERE DE RECHERCHE</ion-title>
      <ion-row class="ion-justify-content-center" class="ion-row-user">
        <ion-col size="4"  class="ion-justify-content-center" id="col1">
            <!-- Date de départ -->
          <!-- <ion-title class="depart">Date de départ <br><ion-icon name="arrow-down-outline" ></ion-icon></ion-title> -->
          <ion-item id="open-modal">
            <!-- <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon> -->
            <ion-label>Date de départ</ion-label>
            <ion-text tappable slot="end">{{ formattedString }}</ion-text>
            <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
          </ion-item>

          <ion-modal trigger="open-modal" mode="md">
            <ng-template>
              <ion-content>
                <ion-datetime
                  #datetime
                  [value]="dateValue" size="cover"
                  (ionChange)="dateChanged(datetime.value)"
                  (ionCancel)="showPicker=false;">
                </ion-datetime >
                  <ion-row>
                    <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Fermer</ion-button></ion-col>
                    <ion-col size="4"><ion-button (click)="effacedateDebut()" color="danger" class="dismiss">Effacer</ion-button></ion-col>
                    <ion-col size="4"><ion-button (click)="select()" color="primary" >Choisir</ion-button></ion-col>
                  </ion-row>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size="4"  class="ion-justify-content-center" id="col1">
           <!-- Date de fin -->
           <ion-item id="open-modal2">
            <!-- <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon> -->
            <ion-label>Date de Fin </ion-label>
            <ion-text tappable slot="end">{{ formattedString2 }}</ion-text>
            <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
          </ion-item>

          <ion-modal trigger="open-modal2" mode="md">
            <ng-template>
              <ion-content>
                <ion-datetime
                  #datetime
                  [value]="dateValue" size="cover"
                  (ionChange)="dateChangedFin(datetime.value)"
                  (ionCancel)="showPicker=false;">
                </ion-datetime >
                  <ion-row>
                    <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Fermer</ion-button></ion-col>
                    <ion-col size="4"><ion-button (click)="effacedateFin()" color="danger" class="dismiss">Effacer</ion-button></ion-col>
                    <ion-col size="4"><ion-button (click)="select()" color="primary" >Choisir</ion-button></ion-col>
                  </ion-row>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col size="4" class="ion-justify-content-center" id="col1">
          <!-- Select Employe -->
            <ion-item>
              <ion-label>Selectionnez un employe</ion-label>

              <ionic-selectable #selectComponent [(ngModel)]="selected" itemValueField="ID"
              itemTextField="Prenom" [items]="users" headerColor="primary" [canSearch]="true"
              searchFailText=" Rien n'a été trouvé:("  [canClear]="true"
              >
              <!-- ****************************** -->
              <ng-template ionicSelectableCloseButtonTemplate color="danger">
                <ion-button fill="clear" color="danger">
                  <ion-icon  name="close-circle"></ion-icon>
                </ion-button>

              </ng-template>

              <ng-template ionicSelectableItemTemplate let-user="item">
                {{user.Prenom +' '+ user.Nom +'   ====> '+user.Fonction+' ===>Matricule: '+user.ID }}
              </ng-template>
              <!-- ******************************** -->
              <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                  <ion-row>
                    <ion-col size="4">
                      <ion-button expand="full" (click)="clear()">
                        Annuler
                      </ion-button>
                    </ion-col >
                    <ion-col  size="4">
                      <ion-button expand="full" (click)="toggleItems()" [disabled]="!selectComponent.itemsToConfirm.length">
                        Décocher
                      </ion-button>
                    </ion-col>
                    <ion-col size="4">
                      <ion-button expand="full" (click)="confirm()" [disabled]="!selectComponent.itemsToConfirm.length">
                        Confirmer
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
            </ion-item>
        </ion-col>
      </ion-row>
      <!-- *************************** -->
     <ion-row>
      <ion-col size="10.5"></ion-col>
      <ion-col size="1.5" >
        <ion-label >
          <ion-text  >
            <button tappable (click)="btnvoirPlus()" *ngIf="voirPlus" fill="clear" color="primary">
              <ion-text color="primary">
                Plus de recherche
              </ion-text>
              <ion-icon  name="caret-down-outline" slot="end"></ion-icon></button>
          </ion-text>
        </ion-label>
      </ion-col>
     </ion-row>

      <ion-row *ngIf="!voirPlus">
        <ion-col size="6" class="title"> <ion-label>Payée ou Chômée</ion-label> </ion-col>
        <ion-col size="6" class="title"> <ion-label>Type d'Absence</ion-label> </ion-col>
      </ion-row>
      <ion-row *ngIf="!voirPlus" >
        <ion-col size="5.8" id="col1" style="height: 80px;">
                <ion-radio-group value="TypeAbsence"  mode="ios" [(ngModel)]="isPaid" color="primary" >
                  <ion-row>
                    <ion-col size="4"><ion-item>
                      <small>Tous les Deux</small>
                      <ion-radio slot="start" value="-1"></ion-radio>
                    </ion-item></ion-col>
                    <ion-col size="4"><ion-item>
                      <small>Payée</small>
                      <ion-radio slot="start" value="1"></ion-radio>
                    </ion-item></ion-col>
                    <ion-col size="4"><ion-item>
                      <small>Chômées</small>
                      <ion-radio slot="start" value="0"></ion-radio>
                    </ion-item></ion-col>
                  </ion-row>
                </ion-radio-group>
        </ion-col>
        <ion-col size="0.2" style="height: 80px;"></ion-col>
        <ion-col size="6" id="col1" style="height: 80px;">
          <ion-item >
            <ion-list >
              <ion-radio-group value="TypeAbsence"  mode="ios" [(ngModel)]="TypeAbsence" color="dark" (ionBlur)="togglepaspourTous()">
                <ion-row>
                  <ion-col size="4" class="ion-text-left">
                    <ion-item >
                    <small class="ion-text-left">Toutes Absences</small>
                    <ion-radio slot="start" value="-1" color="primary"></ion-radio>
                  </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <small>Absences Individuelles</small>
                      <ion-radio slot="start" value="0"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <small>Jours Fériés et/ou Congés</small>
                      <ion-radio slot="start" value="1"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>

          <ion-col size="11"></ion-col>
          <ion-col size="1" >
            <ion-label >
              <ion-text color="primary" >
                <button tappable (click)="btnvoirPlus()" *ngIf="!voirPlus" fill="clear">
                  <ion-text color="primary">
                    Réduire
                  </ion-text>
                  <ion-icon name="caret-up-outline" slot="end"></ion-icon></button>
              </ion-text>
            </ion-label>
          </ion-col>

      </ion-row>
        <!-- ********************************** -->
      <ion-row>
        <ion-col size="4">
          <ion-label *ngIf="this.nbElement>0">{{this.nbElement}} absence(s) trouvée(s)</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="loadAbsence()" expand="block" shape="round" color="success">Rechercher</ion-button>
        </ion-col>
        <ion-col size="4"> </ion-col>
      </ion-row>
        <!-- ************************************** -->
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4" size-sm="6" size-md="4" size-lg="3" size-xl="2" class="ion-justify-content-center">
          <div class="ion-searchbar">
            <ion-label color="light">
              <ion-searchbar
              placeholder="Rechercher une absence ici..."
              [(ngModel)]="searchTerm"
              showCancelButton="focus"
              cancelButtonText="center"
              cancelButtonIcon="none"
              animated></ion-searchbar>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addAbsence2()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-buttons slot="start">
    <ion-button (click)="sort(id)">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-card *ngFor="let item of listeAbsence | filter: searchTerm | orderBy: id: reverse" class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle [style.color]="item.Utilisateur === 'thierno' ? 'red' : (item.Utilisateur === 'adama' ? 'green' : 'orange')">
        <strong>{{item.Utilisateur}}</strong>
      </ion-card-subtitle>
      <ion-item >
        <ion-label>{{item.TextMotif}}</ion-label>
        <ion-label *ngIf="item.DateEnreg === today" >
          <ion-text style="background-color: orange;">AUJOURD'HUI</ion-text></ion-label>
        <ion-label slot="end" *ngIf="item.PourTous>'0'">Absence pour tous</ion-label>
        <ion-label slot="end" *ngIf="item.PourTous==='0'">{{item.Prenom+' '+item.Nom}}</ion-label>
       <!--  <ion-icon [style.color]="item.DateEnreg === today ? 'red' :(item.DateEnreg === yesterdayToString ?'orange': 'green')"
        size="small" name="ellipse" slot="end"></ion-icon> -->
        <ion-icon [style.color]="item.PourTous === '0' ? 'red' :'green'"
        size="small" name="ellipse" slot="end"></ion-icon>

      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-label>Due {{item.heureEnreg | date:'fullDate'}}</ion-label> -->
      <ion-accordion-group expand="">
          <ion-accordion value="infos">
          <ion-item slot="header">
            <!-- <ion-label>Date {{item.DateEnreg | date:'fullDate' }}</ion-label> -->
            <!-- <ion-label>Enregistrée le  {{item.DateEnreg | date:'fullDate'}} {{'à '+item.HeureEnreg}}</ion-label> -->
            <ion-label>Enregistrée  {{item.DateEnreg===today ?"Aujourd\'hui" : (item.DateEnreg=== yesterdayToString ? 'Hier': 'le '+item.DateEnreg | date:'fullDate')}} {{'à '+item.HeureEnreg}}</ion-label>
            <ion-label slot="end">N°  {{item.ID }}</ion-label>

          </ion-item>
          <ion-list slot="content">
            <ion-row>
              <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" style="border: 1px solid #000;">
                <ion-item *ngIf="item.PourTous==='0'">
                  <ion-label>{{'Nom: '+item.Nom}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.PourTous==='0'">
                  <ion-label>{{'Prénom: '+item.Prenom}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Date de début: '+item.DateDebut}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Heure: '+item.HeureDebut}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Date de Fin: '+item.DateFin}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Heure: '+item.HeureFin}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Motif: '+item.TextMotif}}</ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" style="border: 1px solid #000;">
                <ion-item *ngIf="item.PourTous==='0'">
                  <ion-label>{{'Matricule: '+item.IdEmploye}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.IsPaye==='1'">
                  <ion-label>{{'Absence Payée'}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.IsPaye==='0'">
                  <ion-label>{{'Absence non Payée'}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>{{'Annee: '+item.Annee}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.NBMOIS !=='0'">
                  <ion-label>{{'Nombre de mois: '+item.NBMOIS}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.NBJOUR !=='0'">
                  <ion-label>{{'Nombre de jours: '+item.NBJOUR}}</ion-label>
                </ion-item>
                <ion-item *ngIf="item.NBHEURE !=='0'">
                  <ion-label>{{'Nombre d\'heures: '+item.NBHEURE}}</ion-label>
                </ion-item>
                <ion-item>

                  <ion-label>
                    Enregistrée par:
                    <strong [style.color]="item.Utilisateur === 'thierno' ? 'red' : (item.Utilisateur === 'adama' ? 'green' : 'orange')">
                      {{item.Utilisateur}}
                    </strong>
                  </ion-label>

                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>

    <ion-row>
      <ion-item>
        <ion-button size="small" (click)="absencedetails(item)" color="dark" fill="clear">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <p>Voir</p>
      </ion-button>

      </ion-item>

      <ion-item>
        <ion-button size="small" (click)="updateAbsence(item)" color="dark" fill="clear">
          <ion-icon name="create-outline"></ion-icon>
          <p>Modifier</p>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button size="small" (click)="removeAbsence(item)" color="dark" fill="clear">
          <ion-icon  name="trash-outline"></ion-icon>
          <p>Supprimer</p>
        </ion-button>
      </ion-item>


    </ion-row>
  </ion-card>
</ion-content>

