<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" color="dark" (click)="_openSideNav()">
      <ion-icon slot="icon-only" name="menu"> </ion-icon>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh($event)">
        <ion-icon  name="refresh-sharp" class="refresh"  ></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="addAbsence()" >
        Ajouter
      </ion-button>
    </ion-buttons>
    <ion-title>absence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <!--  <ion-list *ngFor="let absence of listeAbsence">
    <ion-item-sliding>
      <ion-item (click)="absencedetails()">
        <ion-avatar slot="start">
          <div class="avatar">
            {{absence.PourTous }}
          </div>
        </ion-avatar>
        <ion-label>
          <h3 class="title">{{absence.Utilisateur + ' '+absence.DateEnreg+' '+absence.HeureEnreg}}</h3>
          <p class="subtext">{{'Date Début: '+ absence.DateDebut +'  '+' Date Fin: ' + absence.DateFin }}</p>
          <p class="subtext">{{'Heure Début: '+ absence.HeureDebut +'  '+' Heure Fin: ' + absence.HeureFin }}</p>
          <p class="subtext">{{'Année: '+ absence.Annee +'  '+' Nombre heure: ' + absence.NbHeure }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeAbsence(absence)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="updateAbsence(absence)">
          Modifier
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list> -->
  <div class="ion-searchbar">
    <ion-label color="light">
      <ion-searchbar
      placeholder="Rechercher une absence ici..."
      [(ngModel)]="searchTerm"
      showCancelButton="focus"
      cancelButtonText="center"
      cancelButtonIcon="none"
      animated></ion-searchbar>
    </ion-label>
    <ion-buttons slot="start">
      <ion-button (click)="sort(id)">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-item  lines="none" class="trie">
      <ion-icon name="funnel-outline" slot="start" class="icon_trie" :icon="ticketOutline"></ion-icon>
      <ion-select  multiple="true" value="none">
        <ion-select-option >Peperoni</ion-select-option>
        <ion-select-option value="hawaii">Hawaii</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button >
      <ion-icon name="funnel-outline" slot="start" class="icon_trie" >
        <ion-select  multiple="true" value="none">
          <ion-select-option >Peperoni</ion-select-option>
          <ion-select-option value="hawaii">Hawaii</ion-select-option>
        </ion-select>
      </ion-icon>
    </ion-button>




  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card *ngFor="let item of listeAbsence | filter: searchTerm | orderBy: id: reverse" class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle [style.color]="item.Utilisateur === 'thierno' ? 'red' : (item.Utilisateur === 'adama' ? 'green' : 'orange')">
        <strong>{{item.Utilisateur}}</strong>
      </ion-card-subtitle>
      <ion-item>
        <ion-icon [style.color]="item.DateEnreg === today ? 'red' : 'green'" size="small" name="ellipse"></ion-icon>

        <ion-label *ngIf="item.PourTous>'0'">Absence pour tous</ion-label>
        <ion-label *ngIf="item.PourTous==='0'">{{item.Prenom+' '+item.Nom}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-label>Due {{item.heureEnreg | date:'fullDate'}}</ion-label> -->
      <ion-accordion-group expand="">
          <ion-accordion value="infos">
          <ion-item slot="header">
            <ion-label>Date {{item.DateEnreg | date:'fullDate' }}</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item *ngIf="item.PourTous==='0'">
              <ion-label>{{'Nom: '+item.Nom}}</ion-label>
            </ion-item>
            <ion-item *ngIf="item.PourTous==='0'">
              <ion-label>{{'Prénom: '+item.Prenom}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'Date de début: '+item.DateDebut}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'Heure: '+item.HeureDebut}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'Date de Fin: '+item.DateFin}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'Heure: '+item.HeureFin}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{'Motif: '+item.TextMotif}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>

    <ion-row>
      <ion-item>
        <ion-button size="small" (click)="absencedetails()" color="dark" fill="clear">
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <p>Voir</p>
      </ion-button>

      </ion-item>

      <ion-item>
        <ion-button size="small" (click)="updateAbsence(item)" color="dark" fill="clear">
          <ion-icon name="create-outline"></ion-icon>
          <p>Modifier</p>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button size="small" (click)="removeAbsence(item)" color="dark" fill="clear">
          <ion-icon  name="trash-outline"></ion-icon>
          <p>Supprimer</p>
        </ion-button>
      </ion-item>


    </ion-row>
  </ion-card>
</ion-content>

