<ion-header>
  <ion-toolbar>
    <ion-title>detail-employe</ion-title>
    <ion-button slot="end" (click)="closeModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- page header -->
  <ion-header mode="ios">
    <ion-toolbar>
      <!-- Test Prise de Photo-->
      <!-- <div class="photoedit-container">
        <ion-fab-button (click)="addPhotoToGallery(userDetails)">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </div> -->
      <ion-button slot="start" fill="solid" class="button-back"(click)="closeModal()">
        <ion-icon name="chevron-back" ></ion-icon>
      </ion-button>
      <!-- <ion-button slot="end" fill="solid" class="button-edit" routerLink="/employe">
        <ion-icon name="pencil"></ion-icon>
      </ion-button> -->
    </ion-toolbar>
  </ion-header>
  <div class="page-container">
    <!-- hero -->
    <div class="hero-container">
      <ion-img src={{userDetails.PHOTO_URL}}></ion-img>
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.2</ion-label>
      </ion-chip>
    </div>

    <!-- content -->
    <div class="content-container">
      <!-- user info -->
      <div class="name-container">
        <ion-text algin="center">
          <h1>{{userDetails.Prenom+' '}} {{userDetails.Nom}}</h1>
        </ion-text>

        <ion-button (click)="userdetails(userdetails)">
          <ion-label>OPEN</ion-label>
          <ion-icon slot="end" name="ellipsis-horizontal" ></ion-icon>
        </ion-button>
      </div>

      <!-- location -->
      <div class="location">
        <ion-text> Adresse: <span class="emphasis">{{' '+userDetails.Adresse}}</span> </ion-text>
      </div>

      <!-- talent scout -->
      <div class="talent-scout-container">
        <ion-item class="ion-no-padding" lines="none">
          <div class="inner-container">
            <div class="info-container">
              <ion-avatar>
                <ion-img src={{userDetails.PHOTO_URL}}></ion-img>
              </ion-avatar>
              <div class="text-container">
                <ion-text><span class="name">{{userDetails.Prenom+' '}} {{userDetails.Nom}}</span></ion-text>
                <ion-text><span class="description">{{userDetails?.Fonction}}</span></ion-text>
              </div>
            </div>
            <ion-button>
              <ion-icon name="chatbubble"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </div>

      <!-- stats -->
      <div class="stats-container">
        <div class="stat-container">
          <ion-text><span class="stat">500</span></ion-text>
          <ion-text><span class="description">LinkedIn Contacts</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">4</span></ion-text>
          <ion-text><span class="description">Recommendations</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">10</span></ion-text>
          <ion-text><span class="description">Years of Experience</span></ion-text>
        </div>
      </div>

      <!-- about -->
      <div class="about-container">
        <ion-text>
          <p>Hello everyone. I am looking forward to get to know you and your companies needs to find the perfect match and establish sustainable and long lasting relations.</p>
        </ion-text>
      </div>

      <!-- tags -->
      <div class="tags-container">
        <ion-chip>Research</ion-chip>
        <ion-chip>Management</ion-chip>
        <ion-chip>Recruiting</ion-chip>
      </div>
    </div>
  </div>
</ion-content>
