.header-row{
  font-weight: 500;
  border-bottom: 2px solid #000;
  }
  .data-row{
    border-bottom: 1px solid #000;

  }
.title{
  font-family: "Lucida Console", "Courier New", monospace;
  font-style: italic;
  text-align: center;
  background-color:rgba(255,0,255,0.3);
  padding: 10px;
  position: static;
  width: 450px;
  border: 1px solid #73AD21;

}
