<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate?'Modifier Contrat':'Nouveau Contrat'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-text>Employe</ion-text>
        <p *ngIf="isUpdate"><ion-text color="dark">{{this.contratInfo.PRENOM_EMPLOYE+' '+this.contratInfo.NOM_EMPLOYE}}</ion-text></p>
        <p *ngIf="!isUpdate"><ion-text color="dark">{{this.employeInfo.Prenom+' '+this.employeInfo.Nom}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text >Direction</ion-text>
        <p><ion-text color="dark">{{isUpdate? this.contratInfo.DIRECTION :this.employeInfo.DIRECTION }}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.SERVICE">
      <ion-label >
        <ion-text >Service</ion-text>
        <p><ion-text color="dark">{{isUpdate? this.contratInfo.SERVICE :this.employeInfo.SERVICE }}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label >
        <ion-text >Ancienneté</ion-text>
        <p><ion-text color="dark">{{isUpdate? this.contratInfo.ANCIENNETE : this.employeInfo.ANCIENNETE }}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-radio-group value="TypeAbsence"  mode="ios" [(ngModel)]="Type_contrat" color="primary" style="background-color: green;">
      <ion-row>
        <ion-col size="2">
            <ion-label>Type de Contrat</ion-label>
        </ion-col>
        <ion-col size="2"><ion-item>
          <small>CDD</small>
          <ion-radio slot="start" value="0" (click)="limite()"></ion-radio>
        </ion-item></ion-col>
        <ion-col size="2"><ion-item>
          <small>CDI</small>
          <ion-radio slot="start" value="1" (click)="illimite()"></ion-radio>
        </ion-item></ion-col>
        <ion-col size="2"><ion-item>
          <small>Stage</small>
          <ion-radio slot="start" value="" [disabled]="true"></ion-radio>
        </ion-item></ion-col>
        <ion-col size="2"><ion-item>
          <small>Contrat d’apprentissage</small>
          <ion-radio slot="start" value=""  [disabled]="true"></ion-radio>
        </ion-item></ion-col>
        <ion-col size="2"><ion-item>
          <small>Contrat d’intérim</small>
          <ion-radio slot="start" value="" [disabled]="true"></ion-radio>
        </ion-item></ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-item id="open-modal" >

      <ion-label>Date de départ</ion-label>
      <ion-text tappable slot="end">{{ formattedString }}</ion-text>
      <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
    </ion-item>
    <ion-modal trigger="open-modal" mode="md" class="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime
            #datetime
            [value]="dateValue" size="cover"
            (ionChange)="dateChanged(datetime.value)"
            (ionCancel)="showPicker=false;">
          </ion-datetime >
          <ion-row>
            <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
            <ion-col size="4"><ion-button (click)="effacedateDebut()" color="warning" class="dismiss">Effacer</ion-button></ion-col>
            <ion-col size="4"><ion-button (click)="select()" color="primary" >Select</ion-button></ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Date de fin -->
    <ion-item id="open-modal2" *ngIf="bulkEdit">
      <ion-label>Date de Fin </ion-label>
      <ion-text tappable slot="end">{{ formattedString2 }}</ion-text>
      <ion-icon icon="calendar-outline" slot="end" color="primary" tappable></ion-icon>
    </ion-item>

    <ion-modal trigger="open-modal2" mode="md" *ngIf="bulkEdit">
      <ng-template>
        <ion-content>
          <ion-datetime
            #datetime
            [value]="dateValue2" size="cover"
            (ionChange)="dateChangedFin(datetime.value)"
            (ionCancel)="showPicker=false;">
          </ion-datetime >
            <ion-row>
              <ion-col size="4"><ion-button (click)="close()" color="danger" class="dismiss">Dismiss</ion-button></ion-col>
              <ion-col size="4"><ion-button (click)="effacedateFin()" color="warning" class="dismiss">Effacer</ion-button></ion-col>
              <ion-col size="4"><ion-button (click)="select()" color="primary" >Select</ion-button></ion-col>
            </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-item>
      <ion-label position="floating">Titre de Contrat</ion-label>
      <ion-select placeholder="Sélectionnez le titre du contrat " [(ngModel)]="Titre_Contrat" required>
        <ion-select-option value=""></ion-select-option>
        <ion-select-option value="CONTRAT DE TRAVAIL">CONTRAT DE TRAVAIL</ion-select-option>
        <ion-select-option value="CONTRAT DE STAGE">CONTRAT DE STAGE</ion-select-option>
        <ion-select-option value="CONTRAT ESSAIE">CONTRAT ESSAIE</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="isUpdate">
      <!-- <ion-label>Awesome Label</ion-label> -->
      <input type="file" [(ngModel)]="fichier" (change)="selectedFile($event)">
      <ion-button (click)="joindreFichier()"  shape="round">
        Envoyer
      </ion-button>
    </ion-item>
    <ion-item *ngIf="isUpdate">
       <!-- stats -->
        <div class="stats-container"  *ngIf="this.nbElement>0">
          <div class="stat-container1" >
            <ion-text><span class="stat">Fichiers ci-Joints ===></span></ion-text>
            <ion-text><span class="description">{{nbElement+' Fichier(s) trouvé(s)'}}</span></ion-text>
          </div>
          <div class="stat-container" *ngFor="let fichier of listfile">
            <ion-button  fill="clear" shape="round" [attr.href]='url' style="width: 80px;">
              <ion-icon slot="start" name="document" class="stat-icon" tappable></ion-icon>
            </ion-button>
            <ion-text><small class="description">{{fichier.NOMFICHIER}}</small></ion-text>
            <ion-button (click)="deleteFile(fichier)" fill="clear" shape="round">
             <ion-icon slot="end" name="trash" color="danger"></ion-icon>
            </ion-button>
          </div>

        </div>
    </ion-item>
  </ion-list>
  <ion-button fill="outline"expand="block"color="primary"type="submit"(click)="onSubmit()">
    {{isUpdate ? 'Modifier' :'Enregistrer'}}
  </ion-button>
</ion-content>
