<ion-header>
  <ion-toolbar >
    <ion-title>Fiche-absence</ion-title>
    <ion-button slot="end" (click)="closeModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
    <ion-button slot="start" fill="solid" class="button-back"(click)="closeModal()"><ion-icon name="chevron-back" ></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- page header -->
  <ion-header mode="ios">
    <ion-toolbar>
      <!-- Test Prise de Photo-->
      <!-- <div class="photoedit-container">
        <ion-fab-button (click)="addPhotoToGallery(userDetails)">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </div> -->

      <!-- <ion-button slot="end" fill="solid" class="button-edit" routerLink="/employe">
        <ion-icon name="pencil"></ion-icon>
      </ion-button> -->
    </ion-toolbar>
  </ion-header>
  <div class="page-container">
    <!-- hero -->
    <div class="hero-container" *ngIf="idEmploye>0">
      <ion-img src={{photo}}></ion-img>
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>{{nbPerformance}}</ion-label>
      </ion-chip>
    </div>

    <!-- content -->
    <div class="content-container" >
      <!-- user info -->
      <div class="name-container" *ngIf="idEmploye>0">
        <ion-text algin="center">
          <h1>{{prenom+' '}} {{nom}}</h1>
        </ion-text>

      </div>

      <!-- location -->
      <div class="location" *ngIf="idEmploye>0">
        <ion-text> Adresse: <span class="emphasis">{{' '+adresse}}</span> </ion-text><br>
        <ion-text> Téléphone: <span class="emphasis">{{' '+telephone}}</span> </ion-text>
      </div>

      <!-- talent scout -->
      <div class="talent-scout-container" *ngIf="idEmploye>0">
        <ion-item class="ion-no-padding" lines="none">
          <div class="inner-container">
            <div class="info-container">
              <ion-avatar>
                <ion-img src={{photo}}></ion-img>
              </ion-avatar>
              <div class="text-container">
                <ion-text><span class="name">{{prenom+' '}} {{nom}}</span></ion-text>
                <ion-text><span class="description">{{fonction}}</span></ion-text>
              </div>
            </div>
            <ion-button>
              <ion-icon name="chatbubble"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </div>

      <!-- stats -->
      <!-- <div class="stats-container">
        <div class="stat-container">
          <ion-text><span class="stat">{{userDetails.Salaire}}</span></ion-text>
          <ion-text><span class="description">Salaire</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">{{userDetails.SurSalaire}}</span></ion-text>
          <ion-text><span class="description">SurSalaire</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">10</span></ion-text>
          <ion-text><span class="description">Année d'Experience</span></ion-text>
        </div>
        <div class="stat-container">
          <ion-text><span class="stat">{{userDetails.NbPerformance}}</span></ion-text>
          <ion-text><span class="description">Performance</span></ion-text>
        </div>
      </div> -->
      <div *ngIf="userDetails.PourTous>0"class="pourTous">
        <ion-card>
          <ion-card-content>
            <ion-text color="dark">
              <h1>ABSENCE POUR TOUS LES EMPLOYES</h1>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- tags -->
      <div class="tags-container">
        <ion-chip color="primary">{{fonction}}</ion-chip>
        <ion-chip color="secondary" *ngIf="hideMe">{{nom_Direction}}</ion-chip>
        <ion-chip color="success" *ngIf="hideMe2">{{nom_Service}}</ion-chip>
      </div>

      <!-- about -->
      <div class="about-container">
        <ion-row>
          <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" >
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <ion-text >Date de début</ion-text>
                  <p><ion-text color="dark">{{userDetails.DateDebut}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Heure de Début</ion-text>
                  <p><ion-text color="dark">{{userDetails.HeureDebut}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Date de Fin</ion-text>
                  <p><ion-text color="dark">{{userDetails.DateFin}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Heure de Fin</ion-text>
                  <p><ion-text color="dark">{{userDetails.HeureFin}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Motif</ion-text>
                  <p><ion-text color="dark">{{userDetails.TextMotif}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Date d'enregistrement</ion-text>
                  <p><ion-text color="dark">{{userDetails.DateEnreg}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Heure</ion-text>
                  <p><ion-text color="dark">{{userDetails.HeureEnreg}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Payée</ion-text>
                  <p><ion-text color="dark" *ngIf="userDetails.IsPaye>0">OUI</ion-text></p>
                  <p><ion-text color="dark"*ngIf="userDetails.IsPaye==='0'">NON</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Année</ion-text>
                  <p><ion-text color="dark">{{userDetails.Annee}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-row *ngIf="message">
                <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="affectation">
                 <h1 class="title" *ngIf="message_txt_M">Non Affecté</h1>
                 <h1 class="title" *ngIf="message_txt_F">Non Affectée</h1>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-col>

          <ion-col size="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" >
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de D'années</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBANNEE}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de Trimestre</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBTRIMESTRE}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de Mois</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBMOIS}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de Semaines</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBSEMAINE}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de Jours</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBJOUR}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre d'heure'</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBHEURE}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de minutes</ion-text>
                  <p><ion-text color="dark">{{userDetails.NBMINUTE}}</ion-text></p>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <ion-text >Nombre d'heure</ion-text>
                  <p><ion-text color="dark">{{userDetails.NbHeure}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Nombre de minutes</ion-text>
                  <p><ion-text color="dark">{{userDetails.NbMinute}}</ion-text></p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-text >Enregistrée par</ion-text>
                  <p><ion-text color="dark">{{userDetails.Utilisateur}}</ion-text></p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </div>
</ion-content>
