<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate?'Modifier Accés':'Nouveau Accés'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-text>Employe</ion-text>
        <p *ngIf="isUpdate"><ion-text color="dark">{{this.accesInfo.Prenom+' '+this.accesInfo.Prenom}}</ion-text></p>
        <p *ngIf="!isUpdate"><ion-text color="dark">{{this.employeInfo.Prenom+' '+this.employeInfo.Nom}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text >Direction</ion-text>
        <!-- <p><ion-text color="dark">{{isUpdate? this.accesInfo.DIRECTION :this.employeInfo.DIRECTION }}</ion-text></p> -->
        <p><ion-text color="dark">{{this.employeInfo.DIRECTION }}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="this.SERVICE">
      <ion-label >
        <ion-text >Service</ion-text>
        <p><ion-text color="dark">{{isUpdate? this.accesInfo.SERVICE :this.SERVICE }}</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NIVEAU D'ACCES</ion-label>
      <ion-select placeholder="Sélectionnez le Niveau d'accés" [(ngModel)]="niveauAcces" required>
        <ion-select-option value="1">NIVEAU 1</ion-select-option>
        <ion-select-option value="2">NIVEAU 2</ion-select-option>
        <ion-select-option value="3">NIVEAU 3</ion-select-option>
        <ion-select-option value="4">NIVEAU 4</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button fill="outline"expand="block"color="primary"type="submit"(click)="onSubmit()">
    {{isUpdate ? 'Modifier' :'Enregistrer'}}
  </ion-button>
</ion-content>
