<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>Fiche prime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-item *ngIf="this.selected">
      <ion-label>
        <ion-text >Employe</ion-text>
        <p><ion-text color="dark">{{this.selected.Prenom+' '+this.selected.Nom}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="isUpdate">
      <ion-label>
        <ion-text >Employe</ion-text>
        <p><ion-text color="dark">{{this.IDEmp+' '+this.employe.PrenomEmploye+' '+this.employe.NomEmploye}}</ion-text></p>
      </ion-label>
    </ion-item>

    <!-- Select Employe -->
    <ion-item *ngIf="!isUpdate">
      <ion-label>Selectionnez un employe</ion-label>

      <ionic-selectable #selectComponent [(ngModel)]="selected" itemValueField="ID"
      itemTextField="Prenom" [items]="users" headerColor="primary" [canSearch]="true"
      searchFailText=" Rien n'a été trouvé:("  [canClear]="true"
      >
      <!-- ****************************** -->
      <ng-template ionicSelectableCloseButtonTemplate color="danger">
        <ion-button fill="clear" color="danger">
          <ion-icon  name="close-circle"></ion-icon>
        </ion-button>

      </ng-template>

      <ng-template ionicSelectableItemTemplate let-user="item">
        {{user.Prenom +' '+ user.Nom +'   ====> '+user.Fonction+' ===>Matricule: '+user.ID }}
      </ng-template>
      <!-- ******************************** -->
      <ng-template ionicSelectableFooterTemplate>
        <ion-toolbar>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="full" (click)="clear()">
                Annuler
              </ion-button>
            </ion-col >
            <ion-col  size="4">
              <ion-button expand="full" (click)="toggleItems()" [disabled]="!selectComponent.itemsToConfirm.length">
                Décocher
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" (click)="confirm()" [disabled]="!selectComponent.itemsToConfirm.length">
                Confirmer
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ng-template>
    </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de point</ion-label>
      <ion-input [(ngModel)]='this.point'  ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Motif</ion-label>
      <ion-input [(ngModel)]='this.motif'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">commentaire</ion-label>
      <ion-input [(ngModel)]='this.commentaire'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Origine Table</ion-label>
      <ion-input [(ngModel)]='this.origineTable'></ion-input>
    </ion-item>
  </ion-list>
  <ion-button fill="outline"expand="block"color="primary"type="submit"(click)="onSubmit()">
    {{isUpdate ? 'Modifier' :'Enregistrer'}}
  </ion-button>
</ion-content>
