<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>employe</ion-title>
  </ion-toolbar>
  <ion-toolbar color="tertiary">
    <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button [value]="item" *ngFor="let item of segmentList;let i = index"
            (click)="_segmentSelected(item,i)">
            <ion-label class="segment-text">{{item}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #slide (ionSlideDidChange)="_ionSlideDidChange($event)">

    <ion-slide value="0">
        <div>
          <ion-list >
            <ion-item>
              <ion-label position="floating">Prenom</ion-label>
              <ion-input [(ngModel)]='this.prenom'></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nom</ion-label>
              <ion-input [(ngModel)]='this.nom'  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fonction</ion-label>
              <ion-input [(ngModel)]='this.fonction' ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Adresse</ion-label>
              <ion-input [(ngModel)]='this.adresse'></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Téléphone</ion-label>
              <ion-input [(ngModel)]='this.telephone' type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Sexe</ion-label>
              <ion-input [(ngModel)]='this.sexe'></ion-input>
            </ion-item>
            <ion-item  *ngIf="hideMe">
              <ion-label position="floating" >Direction</ion-label>
              <ion-input [(ngModel)]='this.direction' [readonly]="true" class="iddirection"></ion-input>
            </ion-item>
            <ion-item *ngIf="hideMe">
              <ion-label position="floating">Service</ion-label>
              <ion-input [(ngModel)]='this.service' [readonly]="true" class="idservice"></ion-input>
            </ion-item>
            <ion-row *ngIf="message">
              <ion-col size="4"></ion-col>
              <ion-col size="4" size-md="4" size-lg="4">
               <h1 class="title" *ngIf="message_txt_M">Non Affecté</h1>
               <h1 class="title" *ngIf="message_txt_F">Non Affectée</h1>
               <h1 class="title" *ngIf="message_txt">Non Affecté(e)</h1>
              </ion-col>
              <ion-col size="4"></ion-col>
            </ion-row>
        </ion-list>

      <ion-row>
        <ion-col size="2">
          <ion-button>
            <ion-icon name="arrow-back">
            </ion-icon>PRECEDENT
          </ion-button>
        </ion-col>

        <ion-col size="2"></ion-col>

        <ion-col size="4">
          <ion-button fill="outline"
          expand="block"
          color="primary"
          type="submit"
         (click)="onSubmit()" 
          >
        {{isUpdate ? 'Modifier' :'Enregistrer'}}</ion-button>
        </ion-col>

        <ion-col size="2"></ion-col>

        <ion-col size="2">
          <ion-button>SUIVANT
            <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>



        </div>
    </ion-slide>


    <ion-slide value="1">
        <div>
            <ion-label>2nd Segment</ion-label>
        </div>
    </ion-slide>

    <ion-slide value="2">
        <div>
            <ion-label>3rd Segment</ion-label>
        </div>
    </ion-slide>

  </ion-slides>


</ion-content>
