<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" color="dark" (click)="_openSideNav()">
      <ion-icon slot="icon-only" name="menu"> </ion-icon>
    </ion-button>
    <ion-title>salaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>Selectionnez un employe</ion-label>
    <!-- <ionic-selectable #selectComponent [(ngModel)]="selected" [items]="users" itemValueField="ID"  itemTextField="Prenom"
    headerColor="primary" searchFailText=" Rien n'a été trouvé:(" >
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon  name="close-circle"></ion-icon>
      </ng-template>

      <ng-template ionicSelectableTitleTemplate>
        Custom title
      </ng-template>

      <ng-template ionicSelectableItemTemplate let-user="item">
        A enlever {{user.Prenom +' '+ user.Nom +'   Fonction: '+user.Fonction +'   Affectation'+ user.LieuxAffectationType +' Adresse'+user.Adresse}}
        {{user.Prenom +' '+ user.Nom +'   ====> '+user.Fonction+' ===>Matricule: '+user.ID }}
      </ng-template>

      <ng-template ionicSelectableFooterTemplatemplate>

          <ion-toolbar>
            <ion-row text-center>
              <ion-col size="4">
                <ion-button (click)="clear()"  fill="clear">Clear</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button (click)="toggleItems()"  fill="clear">Toggle</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button (click)="confirm()"  fill="clear">Confirm</ion-button>
              </ion-col>
            </ion-row>
          </ion-toolbar>

      </ng-template>

    </ionic-selectable> -->
    <ionic-selectable #selectComponent [(ngModel)]="selected" itemValueField="ID"
    itemTextField="Prenom" [items]="users" headerColor="primary"
    searchFailText=" Rien n'a été trouvé:("  [canClear]="true"
    >
    <!-- ****************************** -->
    <ng-template ionicSelectableCloseButtonTemplate color="danger">
      <ion-button fill="clear" color="danger">
        <ion-icon  name="close-circle"></ion-icon>
      </ion-button>

    </ng-template>

    <ng-template ionicSelectableItemTemplate let-user="item">
      {{user.Prenom +' '+ user.Nom +'   ====> '+user.Fonction+' ===>Matricule: '+user.ID }}
    </ng-template>
    <!-- ******************************** -->
    <ng-template ionicSelectableFooterTemplate>
      <ion-toolbar>
        <ion-row>
          <ion-col size="4">
            <ion-button expand="full" (click)="clear()">
              Annuler
            </ion-button>
          </ion-col >
          <ion-col  size="4">
            <ion-button expand="full" (click)="toggleItems()" [disabled]="!selectComponent.itemsToConfirm.length">
              Décocher
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="full" (click)="confirm()" [disabled]="!selectComponent.itemsToConfirm.length">
              Confirmer
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ng-template>
  </ionic-selectable>
  </ion-item>

  <div class="ion-justify-content-center">

        <ion-grid *ngIf="selected" class="ion-grid-user">
          <ion-row class="ion-justify-content-center" class="ion-row-user">
            <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" class="ion-justify-content-center">
              <ion-card>
                <img src="../assets/man.png" alt="">

                <ion-card-header>
                  <ion-card-title>{{selected.Prenom +' '+ selected.Nom}}</ion-card-title>
                  <ion-card-subtitle>{{selected.Fonction}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-label>
                    {{'Adresse: '+selected.Adresse }}
                  </ion-label>
                  <ion-label>{{'Affectation: '+selected.LieuxAffectationType}}</ion-label>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
         </ion-grid>
        <ion-button (click)="doRefresh($event)" slot="center">Afficher Bulletin</ion-button>

  </div>

  <ion-card >
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <!-- Bulletin de salaire -->
  <ion-row class="ion-row1">
    <ion-col size="3" ><ion-text ><h1 class="firm">CAFINE SARL</h1> </ion-text></ion-col>
    <ion-col size="6">
      <ion-text ><h1> <strong>Adresse:</strong> Zone Industrielle Pikine Icotaf</h1></ion-text>
      <ion-text ><h1> <strong>Téléphone:</strong> 00221 77 883 45 00</h1></ion-text>
      <ion-text ><h1> <strong>Fax:</strong>  00221 33 834 75 10</h1></ion-text>
      <ion-text ><h1> <strong>Email:</strong> cafine@orange.sn</h1></ion-text>
      </ion-col>
    <ion-col size="3"><ion-text><h1 class="firm2" >BULLETIN DE PAIE</h1></ion-text></ion-col>
  </ion-row >
  <ion-row class="ion-row2">
    <ion-col size="3"><ion-text ><h3>CONVENTION COLLECTIVE</h3></ion-text></ion-col>
    <ion-col size="6"><ion-text ><h2>NOM & PRENOM</h2></ion-text></ion-col>
    <ion-col size="3"><ion-text ><h3>ADRESSE</h3></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row3">
    <ion-col size="3"><ion-text ><h1>{{qualifiquation}}</h1></ion-text></ion-col>
    <ion-col size="6"><ion-text ><h1 class="name">{{this.nom}}</h1></ion-text></ion-col>
    <ion-col size="3"><ion-text ><h1>{{adresse}}</h1></ion-text></ion-col>
  </ion-row>
  <ion-row  class="ion-row4">
    <ion-col size="12"></ion-col>
  </ion-row>
  <ion-row class="ion-row5">
    <ion-col size="3"><ion-text><h2>QUALIFICATION</h2></ion-text> </ion-col>
    <ion-col size="1"><ion-text><P>N° D'ORDRE</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>CATEGORIE</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>SITUATION FAMILIALE</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>PART TRIMF</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>PART IRPP</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>PERIODE DE PAIE</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>DATE D'EMBAUCHE</P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row6">
    <ion-col size="3"><ion-text><h1>{{qualifiquation}}</h1></ion-text> </ion-col>
    <ion-col size="1"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{categorie}}</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{situationFa}}</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{partTrimf}}</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{partIrpp}}</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>{{periodePaie}}</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>{{dateEmbauche}}</P></ion-text></ion-col>
  </ion-row>
  <ion-row  class="ion-row7">
    <ion-col size="8.8" class="rubrique"></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <!-- <ion-col size="3"><ion-text><p>COTISATIONS PATRONALES</p></ion-text> </ion-col> -->
    <ion-col size="3" class="rubrique2" ><ion-text><p>COTISATIONS</p></ion-text> </ion-col>
  </ion-row>
  <ion-row class="ion-row8">
    <ion-col size="3" class="rubrique"><ion-text><h3>LIBELLE RUBRIQUE</h3></ion-text> </ion-col>
    <ion-col size="1.9" class="rubrique"><ion-text><P>BASE</P></ion-text></ion-col>
    <ion-col size="1" class="rubrique"><ion-text><P>TAUX</P></ion-text></ion-col>
    <ion-col size="1.5" class="rubrique"><ion-text><P>GAINS</P></ion-text></ion-col>
    <ion-col size="1.4" class="rubrique"><ion-text><P>RETENUES</P></ion-text></ion-col>
    <ion-col size="0.1"class="separation"></ion-col>
    <ion-col size="1" class="rubrique"><div><ion-text><P>TAUX</P></ion-text></div></ion-col>
    <ion-col size="2" class="rubrique"><ion-text><P>MONTANT</P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row9" *ngFor="let bulletin of gainPrime">
    <ion-col size="3"><ion-text><h3>{{bulletin.Libelle}}</h3></ion-text> </ion-col>
    <ion-col size="1.9"><ion-text><P>{{bulletin.Base}}</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{bulletin.Taux}}</P></ion-text></ion-col>
    <ion-col size="1.5"><ion-text><P>{{bulletin.Gain}}</P></ion-text></ion-col>
    <ion-col size="1.4"><ion-text><P>{{bulletin.Retenu}}</P></ion-text></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <ion-col size="1"><ion-text><P>{{bulletin.COTISATION_PATRONALE_TAUX}}</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>{{bulletin.COTISATION_PATRONALE_MONTANT}}</P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row10">
    <ion-col size="3" class="rubrique"><ion-text><h3>**Salaire Brut** (1)</h3></ion-text> </ion-col>
    <ion-col size="1.9"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1.5"class="rubrique"><ion-text><P>{{this.salaireBrut}}</P></ion-text></ion-col>
    <ion-col size="1.4"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <ion-col size="1" class="rubrique"><div><ion-text><P></P></ion-text></div></ion-col>
    <ion-col size="2"class="rubrique"><ion-text><P></P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row11" *ngFor="let bulletin of ligneCotisation">
    <ion-col size="3"><ion-text><h3>{{bulletin.Libelle}}</h3></ion-text> </ion-col>
    <ion-col size="1.9"><ion-text><P>{{bulletin.Base}}</P></ion-text></ion-col>
    <ion-col size="1"><ion-text><P>{{bulletin.Taux}}</P></ion-text></ion-col>
    <ion-col size="1.5"><ion-text><P>{{bulletin.Gain}}</P></ion-text></ion-col>
    <ion-col size="1.4"><ion-text><P>{{bulletin.Retenu}}</P></ion-text></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <ion-col size="1"><ion-text><P>{{bulletin.COTISATION_PATRONALE_TAUX}}</P></ion-text></ion-col>
    <ion-col size="2"><ion-text><P>{{bulletin.COTISATION_PATRONALE_MONTANT}}</P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row12">
    <ion-col size="3" class="rubrique"><ion-text><h3>**Total des retenues** (2)</h3></ion-text> </ion-col>
    <ion-col size="1.9"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1.5"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1.4"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <ion-col size="1" class="rubrique2"><div><ion-text><P></P></ion-text></div></ion-col>
    <ion-col size="2"class="rubrique3"><ion-text><P></P></ion-text></ion-col>
  </ion-row>
  <ion-row class="ion-row13">
    <ion-col size="3" class="rubrique"><ion-text><h3>**Salaire Net** (3) = (1) - (2)</h3></ion-text> </ion-col>
    <ion-col size="1.9"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1.5"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="1.4"class="rubrique"><ion-text><P></P></ion-text></ion-col>
    <ion-col size="0.1" class="separation"></ion-col>
    <ion-col size="1" class="rubrique2"><div><ion-text><P></P></ion-text></div></ion-col>
    <ion-col size="2"class="rubrique3"><ion-text><P></P></ion-text></ion-col>
  </ion-row>

</ion-content>
