<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" expand="block" fill="clear" color="danger">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>Affectation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>

    <ion-col size="12" class="ion-searchbar">
      <ion-label color="light" >
        <ion-searchbar
        placeholder="Rechercher un Employe ici..."
        [(ngModel)]="searchTerm"
        showCancelButton="focus"
        cancelButtonText="center"
        cancelButtonIcon="none"
        animated></ion-searchbar>
      </ion-label>
    </ion-col>

  </ion-row>
  <ion-button (click)="toggleBulkEdit()" expand="full">
    Cocher plusieurs cases
  </ion-button>
  <ion-button (click)="affectaTion()" expand="full" color="danger" *ngIf="bulkEdit">
    AFFECTER
  </ion-button>

<ion-row class="header-row">
  <ion-col size="1" *ngIf="bulkEdit">
    <!-- <ion-col size="2"> -->
    Select
  </ion-col>
  <ion-col size="1"  tappable (click)="sortBy('Nom')">
    Nom
    <ion-icon name="arrow-down" *ngIf="sortDirection === 1"></ion-icon>
    <ion-icon name="arrow-up" *ngIf="sortDirection === 2"></ion-icon>
  </ion-col>
  <ion-col size="2" >
    Prénom
  </ion-col>
  <ion-col size="2" class="ion-hide-md-down">
    Fonction
  </ion-col>
  <ion-col size="2" class="ion-hide-md-down">
    Adresse
  </ion-col>
  <ion-col size="2" class="ion-hide-lg-down">
    Direction
  </ion-col>
  <ion-col size="2" class="ion-hide-lg-down">
    Service
  </ion-col>
  <ion-col size="1" *ngIf="!bulkEdit">
    Action
  </ion-col>
</ion-row>

<ion-row *ngFor="let row of data | filter:searchTerm; let i = index;" class="data-row" >

  <ion-col size="1" *ngIf="bulkEdit">
    <ion-checkbox [(ngModel)]="edit[i]" style="margin-left: 20px;"></ion-checkbox>
      </ion-col>
      <ion-col size="1"  >
        {{ row.Nom}}
      </ion-col>
      <ion-col  size="2" >
        {{ row.Prenom}}
      </ion-col>
      <ion-col size="2" class="ion-hide-md-down">
        {{ row.Fonction}}
      </ion-col>
      <ion-col size="2" class="ion-hide-md-down">
        {{ row.Adresse}}
      </ion-col>
      <ion-col size="2" class="ion-hide-lg-down">
        {{ row.DIRECTION}}
      </ion-col>
      <ion-col size="2" class="ion-hide-lg-down">
        {{ row.SERVICE}}
      </ion-col>
  <ion-col size="1" *ngIf="!bulkEdit">
    <ion-button size="small" (click)="affecterUnePersonne(row.ID)"  fill="clear">
      <ion-icon name="send" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-col>

</ion-row>



</ion-content>
