.header-row{
  font-weight: 500;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  background-color: #000;
  font: bold;
  color: #ffff;
  }
  .data-row{
    border-bottom: 1px solid #000;

  }
